body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* chat蘭の左右表示切替用class */
.chat {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 2px;
}

.chatReverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}
